<section class="post-comments">
    <div class="v">
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js'
      defer='defer'
      onload='
        new Valine({
          "el": document.getElementsByClassName("v")[0],
          "appId": "uwdspM1xrzd5i83GGDtQx2Bm-gzGzoHsz",
          "appKey": "K4LihcyjOAMjYfa1M4fMefL9",
          "placeholder": "在这里评论吧！填写邮箱可以获得 Gravatar 头像和回复通知哦",
          "requiredFields": ["nick","mail"],
          "visitor": true,
          "recordIP": true
        })'
    ></script>
</section>
