<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="/js/main.js"></script>

<script src="https://zz.bdstatic.com/linksubmit/push.js" async="async"></script>

<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169358395-1"></script>-->
<!--<script>-->
<!--    window.dataLayer = window.dataLayer || [];-->
<!--    function gtag(){dataLayer.push(arguments);}-->
<!--    gtag('js', new Date());-->
<!--    gtag('config', 'UA-169358395-1');-->
<!--</script>-->

<script data-ad-client="ca-pub-3674332953918648" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!--<script>-->
<!--(function(){-->
<!--var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";-->
<!--document.write('<script src="' + src + '" id="sozz"><\/script>');-->
<!--})();-->
<!--</script>-->
